<%- include ('partials/header.ejs') -%>
    <div class="table-wrapper">
        <% if (mitglieder.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">MNR</th>
                        <th scope="col">Anrede</th>
                        <th scope="col">Vorname</th>
                        <th scope="col">Nachname</th>
                        <th scope="col">Strasse/Nr.</th>
                        <th scope="col">PLZ</th>
                        <th scope="col">Ort</th>
                        <th scope="col">SAM Nr.</th>
                    </tr>
                </thead>
                <tbody>
                    <% mitglieder.forEach((mitglied, index) => { %>
                        <tr>
                            <td><%= mitglied.MNR %></td>
                            <td><%= mitglied.anrede %></td>
                            <td><%= mitglied.vorname %></td>
                            <td><%= mitglied.name %></td>
                            <td><%= mitglied.adresse %></td>
                            <td><%= mitglied.plz %></td>
                            <td><%= mitglied.ort %></td>
                            <td><%= mitglied.mnr_sam %></td>
                            <td>
                                <a href="/edit/<%= mitglied.MNR %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Ändern</a>
                                <a href="/delete/<%= mitglied.MNR %>" class="btn btn-sm btn-danger">Löschen</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">Keine Mitgleider gefunden. Mit <a href="/add" >Mitglied Hinzufügen</a> Kannst Du ein neues Mitglied erfassen.</p>
        <% } %>
    </div>
<%- include ('partials/footer.ejs') -%> 
